---
import GitHub from "./icons/GitHub.astro"
import NextJS from "./icons/NextJS.astro"
import Tailwind from "./icons/Tailwind.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
}
const PROJECTS = [

{
    title: "🧠 Juego de Memoria con Emojis 🎮",
    description:
      "He desarrollado esta aplicación interactiva que pone a prueba tu memoria y rapidez mental utilizando coloridos emojis, está construida con Angular 18, aprovechando las últimas características de este potente framework para ofrecer una experiencia de usuario fluida y responsive.",
    link: "https://memory-game-hazel-xi.vercel.app/",
    github: "https://github.com/acmmp/memory-game",
    image: "/projects/memory.jpg",
    tags: [],
  },





  {
    title: "📖 Lista de tareas 📖",
    description:
      "Una aplicación sencilla para la gestión de tareas diarias, desarrollada en Angular. Los usuarios pueden agregar, modificar y eliminar tareas de manera rápida y eficiente. La interfaz está diseñada para ser intuitiva y fácil de usar, permitiendo una organización óptima del día a día. Esta aplicación también ofrece filtros por categorías para priorizar las tareas según la urgencia y la importancia.",
    link: "https://listatereasdiaria.vercel.app/",
    github: "https://github.com/acmmp/Lista-de-tareas-",
    image: "/projects/lista.png",
    tags: [],
  },
  {
    title: "🚴‍♂️ eCommerce Web Bicicletas 🚴‍♂️",
    description:
      "CicloBike es una tienda online enfocada en el mundo del ciclismo, donde se pueden comprar bicicletas y accesorios relacionados. La página cuenta con una integración completa de pasarela de pago (PayPal y tarjetas de crédito/débito), brindando seguridad y facilidad en las transacciones. Además, la web incluye una funcionalidad de notificaciones por correo electrónico, utilizando Mailer para enviar actualizaciones y confirmaciones de compra a los clientes. ¡Haz clic en 'Preview' para ver el video demostrativo!",
    link: "https://www.dropbox.com/scl/fi/nafjt5u7l1u5z6bnq857r/Ciclobike-VideoDemostr.mp4?rlkey=7w9ozr7i3vvrw6hcg7h12084v&st=iyj1a24h&dl=0",
    github: "https://github.com/acmmp/Lista-de-tareas-",
    image: "/projects/ciclobike.png",
    tags: [],
  },
  {
    title: "🍖 Reto eCommerce Restaurante 🔥",
    description:
      "Este proyecto es una plataforma eCommerce para un restaurante especializado en carnes a la brasa. El sistema permite a los usuarios reservar mesas y recibir correos electrónicos automáticos que confirman el estado de la reserva, ya sea aceptada o rechazada. La plataforma incluye un back-end que gestiona tanto las reservas como las comunicaciones con el cliente, asegurando una experiencia fluida y personalizada.",
    github: "https://github.com/acmmp/Proyecto-Cocina-Kutral",
    image: "/projects/kutral.png",
    tags: [],
  },
  {
    title: "🚖 GEOLOCALIZADOR Paradas de Taxis Malaga 🚖",
    description:
      "Este proyecto es una herramienta interactiva de geolocalización que muestra las paradas de taxis disponibles en Málaga. Diseñado para ser accesible tanto en dispositivos móviles como de escritorio, permite a los usuarios encontrar rápidamente las ubicaciones más cercanas. Implementado con tecnologías modernas para una experiencia de usuario rápida y precisa, el sistema ayuda tanto a residentes como a turistas a moverse por la ciudad con facilidad.",
    github: "https://github.com/acmmp/Geolocalizacion-paradas-taxis-MALAGA-",
    link: "https://geolocalizacion-paradas-taxis-malaga.vercel.app/",
    image: "/projects/taxis.png",
    tags: [],
  },
  {
    title: "🎮Ahorcado Game 🎮",
    description:
      "Este proyecto presenta un juego interactivo del ahorcado, donde los usuarios intentan adivinar palabras con una interfaz gráfica intuitiva y atractiva. Es completamente responsive, lo que significa que se adapta a cualquier tipo de dispositivo, desde móviles hasta pantallas grandes. Además, la aplicación registra estadísticas del juego para que los usuarios puedan evaluar su progreso y reiniciar el juego para continuar disfrutando. Tecnologías clave como Astro, HTML, CSS y JavaScript fueron utilizadas para crear este proyecto.",
    github: "https://github.com/acmmp/juego-ahorcado.game",
    link: "https://juego-ahorcado-game.vercel.app/",
    image: "/projects/ahorcado.jpg",
    tags: [],
  },
  {
    title: "🌤️ App web Meteorológica 🌤️",
    description:
      "Esta aplicación web ofrece información meteorológica precisa conectándose a la API de OpenWeatherMap. Desarrollada con Angular 18, permite a los usuarios consultar el clima actual de cualquier ubicación, además de mostrar detalles como temperatura, humedad y previsiones a corto plazo. Su diseño moderno y adaptable permite que funcione bien tanto en móviles como en ordenadores, facilitando el acceso a información meteorológica en tiempo real.",
    github: "https://github.com/acmmp/WheatherTemp",
    link: "https://wheather-temp.vercel.app/",
    image: "/projects/noticias.png",
    tags: [],
  },
]
---

<div class="flex flex-col gap-y-16">
  {PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
      <div class="w-full md:w-1/2">
        <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
          <img alt="" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
        </div>
      </div>

      <div class="w-full md:w-1/2 md:max-w-lg">
        <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
          {title}
        </h3>
        <div class="flex flex-wrap mt-2">
          <ul class="flex flex-row mb-2 gap-x-2">
            {tags.map((tag) => (
              <li>
                <span>
                </span>
              </li>
            ))}
          </ul>

          <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
          <footer class="flex items-end justify-start mt-4 gap-x-4">
            {github && (
              <LinkButton href={github}>
                <GitHub class="size-6" />
                Code
              </LinkButton>
            )}
            {link && (
              <LinkButton href={link}>
                <Link class="size-4" />
                Preview
              </LinkButton>
            )}
          </footer>
        </div>
      </div>
    </article>
  ))}
</div>
